header.not-front
			.deg
			
			.grid.grid2
			.grid.grid1
			
			a(class='logo', href='/')

			nav.menu
				.items
					a(href="/" , class="home") Home
					a(href="sur-moi" , class="surmoi") surmoi
					a(href="interests" , class="interests") interests
					a(href="projets" , class="projets") projets
					a(href="contact" , class="contact") contact

			h1.title-header #{title}

			.lines
				div
				div
				div
				div