doctype html
html
  head

    title='Gabriel Goethe| Pagina Web'

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='theme-color', content='#1d2025')
    meta(name='description', content="I am a computer engineer and web/mobile applications programmer with a solid professional experience in the technology’s world.")
    meta(name='keywords', content='html5, cms, drupal, drupal7, drupal8, wordpress, angularjs, react, angular, ionic, websites, jquery, javascript, css, jade, nodejs, express. gabriel goethe, goethe, web developer, web programmer, frontend')
    meta(name='author', content='Gabriel Goethe')
    meta(property='og:title', content='Gabriel Goethe')
    meta(property='og:description', content='Front-end Developer')
    meta(property='og:type', content='Web Development')
    meta(property='og:url', content='http://www.gabrielgoethe.com')
    meta(property='og:image', content='/images/bg/facebook.jpg')

    link(rel='icon', type='image/png', href='/images/favicon.png')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Rajdhani:400,300,500,600,700|Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i')
    link(rel="stylesheet", href='https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css')

    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/slick.css')
    link(rel='stylesheet', href='/stylesheets/media.css')

    //- script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.3.min.js')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/slick.min.js')
    script(type='text/javascript', src='/javascripts/functions.js')
    script(type='text/javascript', src='/javascripts/analytics.js')

  body
    block content
      
